<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--<property name="connection.url"/>-->
    <!--<property name="connection.driver_class"/>-->
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->

    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.format_sql">false</property>
    <property name="fetch_size">25</property>
    <property name="batch_size">30</property>
    <property name="jdbc.use_streams_for_binary">true</property>
    <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
    <property name="max_fetch_depth">1</property>
    <property name="default_batch_fetch_size">30</property>
    <property name="use_identifer_rollback">true</property>
    <property name="cache.use_second_level_cache">create</property>
  </session-factory>
</hibernate-configuration>